@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

.App{
  background-color: #b6d7a8;
  min-height: 100vh;
  justify-content:space-between;
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.AppWithin{
  min-width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AppUpper {
  text-align: left;
  justify-content:space-between;
  display: flex;
  flex-direction: row;
}

.AppLower {
  text-align: left;
  justify-content:flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
}

.App-logo {
  height: 10vmin;
  margin-top: 5vmin;

}

.AppBar {
flex-direction: column;
float:right;
margin-top: 7.5vmin;
vertical-align: baseline;

}

.App-link {
  color: #61dafb;

}

.upper-button{
  color:rgb(0, 0, 0);
  font-size: calc(1.5vh + 2vmin);
  font-family: 'Roboto', sans-serif;
  border: none;
  display: inline-block;
  position: relative;
  background: none;
  margin-right: 1vw;
  cursor: pointer;
}

.upper-button:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: none;
  background-color: 
#000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.upper-button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.heading{
  font-family: 'Playfair Display', serif;
  font-size: calc(5vh + 2vmin);
  font-weight: bold;
}

.subtitle{
  margin-top: 1.5vh;
  font-family: 'Roboto', sans-serif;
  font-size: calc(1.5vh + 2vmin);
}

.contact-button{
  margin-top: 1.5vh;
  font-family: 'Roboto', sans-serif;
  font-size: calc(1.5vh + 2vmin);
  border-color: #000000;
  border-width: 2px;
  float: left;
  text-align: left;
  background: none;
  border-radius: 16px;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  color: #000000;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
